
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        <h1>{{message}}</h1>
        <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}
